In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('submission.csv')

In [3]:
df.head()

   PassengerId  Survived
0          892       0.0
1          893       1.0
2          894       0.0
3          895       0.0
4          896       0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.7 KB

In [5]:
df['Survived']=df['Survived'].astype(int)

In [6]:
df.to_csv('submission.csv',index=False)

In [7]:
df=pd.read_csv('submission.csv')

In [8]:
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         0